.home-page {
    padding: 60px 20px 20px;

    .welcome {
        padding: 16px;
        border-radius: 8px;
        background: linear-gradient(135deg, #2563EB 0%, #10B981 100%);
    }

    .search-bar {
        display: block;
        width: 60%;
        height: 40px;
        margin: 0 auto 16px;
        max-width: 600px;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .problem-list {
        margin-bottom: 20px;

        .problem-item {
            padding: 12px 16px;
        }
    }

    .recommendations {
        margin: 0 -8px;

        .recommendation-item {
            float: left;
            padding: 0 8px;
            width: 33.33%;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .card-img {
            padding-top: 60%;
            width: 100%;
            background: url('../assets/images/3.jpg') 50% no-repeat;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 499px) {
    .home-page {
        .search-bar {
            width: 100%;
        }
        .recommendations {
            .recommendation-item {
                width: 50%;
            }
        }

    }

}