.home-page {
    padding: 60px 20px 20px;
    .welcome {
        padding: 16px;
        border-radius: 8px;
        background: linear-gradient(135deg, #3c5ef1 0%, #e98bd1 100%);
    }
    .search-bar {
        display: block;
        width: 60%;
        height: 40px;
        margin: 0 auto 16px;
        max-width: 600px;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .problem-list {
        margin-bottom: 20px;
        .problem-item {
            padding: 12px 16px;
        }
    }
    .recommendations {
        margin: -8px;
        .recommendation-item {
            float: left;
            padding: 0 8px;
            width: 33.33%;
        }
        &::after   {
            content: "";
            display: block;
            clear: both;
        }
    }
}