@use './variables' as vars;

.el-pagination {
    .el-page-number {
        color: vars.$color-black-9;
        &.active {
            font-weight: 700;
            color: vars.$color-primary;
        }
    }
}